.cartscreen {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 2rem auto;
}

.cartscreen-logo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: crimson;
}

.cartscreen-logo h2 {
    margin-left: 8px;
}

.cartscreen-left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}

.cartscreen-right {
  flex: 0.3;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartscreen-right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartscreen-info p {
  padding: 8px;
}

.cartscreen-info p:first-child {
  font-weight: bold;
}

.cartscreen-right div:last-child {
  border: none;
}

.cartscreen-right div button {
  padding: 10px 17px;
  width: 100%;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cartscreen-right div button:hover {
  opacity: 0.9;
}

.cartscreen-link {
  color: royalblue;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
  .cartscreen-right {
    margin: 1rem;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }
}